<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="ui secondary menu">
                <a class="item">Browse</a>
{#                <a class="item" href="{{ path('api') }}">View Top Best Seller Books</a>#}
                <div class="right menu">
                    <a class="item">
                        <div class="ui search">
                            <div class="ui icon input" style="width: 180px;">
                                <input class="prompt" id="searchbar" type="text" placeholder="Search book...">
                                <i id="searchicon" class="search link icon"></i>
                            </div>

                        </div>
                    </a>
                    <a class="item" href="{{ path('app_logout') }}">Log Out</a>
                </div>
            </div>

        </div>
    </div>
</div>