body {
    background-color: lightgray;
}

.container-fluid {
    padding: 20px 20px 20px 20px;
}

.well {
    /*padding: 5px 20px 20px;*/
    /*background-color: #dcdcdc;*/
    border-radius: 5px;
    box-shadow: 10px 10px 12px -2px rgba(94, 90, 90, 0.48);
    width: 400px;
    position: relative;
    margin: 60px auto;
}

legend {
    text-align: center;
    padding-top: 10px;
}

li {
    color: red;
}

img {
    width: 100px;
    height: 20%;
    padding-right: 10px;
}

.poster {
    width: 300px;
    height: 100%;
    padding-left: 30px;
}

.con{
    margin-left: 100px;
}
.hero {
    display: inline-block;
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 300px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.hero-profile-img {
    height: 100%;
    width: 100%;
}

.hero-description-bk {
    background-image: linear-gradient(0deg , #3f5efb, #fc466b);
    border-radius: 30px;
    position: absolute;
    top: 73%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
}

.second .hero-description-bk {
    background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
}


.hero-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 8%;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.hero-btn a {
    color: #fff;
}
#container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 1em auto;
    height: 90%;
    width: 70%
}

.product-details {
    position: relative;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
    text-align: center;

}

#container .product-details h1{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;

}

#container .product-details h1:before{
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;

}

#container .product-details > p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;

}

.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background:  #809fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding-bottom: 10px;
    margin: 0;
    width: 100px;

}

.btn:hover{transform: translateY(-6px);
    background: #1a66ff;}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
}


.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 45%;
}

#container img {width: 100%;height: 100%;}

.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #809fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

.card {
    width: 1000px;
    margin: 10px auto;
}

.card-top {
    padding: 0.7rem 5rem
}

.card-top a {
    float: left;
    margin-top: 0.7rem
}


.card-body {
    padding: 0 5rem 5rem 5rem;
    background-image: url("https://i.imgur.com/4bg1e6u.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:768px) {
    .card-body {
        padding: 0 1rem 1rem 1rem;
        background-image: url("https://i.imgur.com/4bg1e6u.jpg");
        background-size: cover;
        background-repeat: no-repeat
    }

    .card-top {
        padding: 0.7rem 1rem
    }
}


.upper {
    padding: 1rem 0;
    justify-content: space-evenly
}

#three {
    border-radius: 1rem;
    width: 22px;
    height: 22px;
    margin-right: 3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block
}

#payment {
    margin: 0;
    color: blue
}

.icons {
    margin-left: auto
}

form span {
    color: rgb(179, 179, 179)
}

form {
    padding: 2vh 0
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.header {
    font-size: 1.5rem
}

.left {
    background-color: #ffffff;
    padding: 2vh
}

.left img {
    width: 2rem
}

.left .col-4 {
    padding-left: 0
}

.right .item {
    padding: 0.3rem 0
}

.right {
    background-color: #ffffff;
    padding: 2vh
}

.col-8 {
    padding: 0 1vh
}

.lower {
    line-height: 2
}

.btn {
    background-color: rgb(23, 4, 189);
    border-color: rgb(23, 4, 189);
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin: 4vh 0 1.5vh 0;
    padding: 1.5vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

input[type=checkbox] {
    width: unset;
    margin-bottom: unset
}

#cvv {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}

#cvv:hover {}
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

*, *::before, *::after { box-sizing: border-box; -webkit-box-sizing: border-box; }
.cf::after, .cf::before { content: ' '; display: table; }
.cf::after { clear: both; }

body, html {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #484848;
}

a {
    text-decoration: none;
    outline: none;
}

.red {
    color: #ef5350;
}

.blue {
    color: #0277bd;
}

.orange {
    color: #fd6b0d;
}

.yellow {
    color: #e5af0e;
}

.green {
    color: #2e7d32;
}

.cyan {
    color: #3f9489;
}

.full-width {
    position: relative;
    max-width: 906px;
    margin: 20px auto;
}

.col-md-3 {
    width: 100%;
    margin-top: 10px;
}

/* ---- Switch button ---- */
/*.icon-switch {
	width: 100%;
}

.card {
	float: right;
	font-size: 20px;
	margin-right: 20px;
	display: inline-block;
}

.list {
	float: right;
	font-size: 20px;
	display: inline-block;
	margin-right: 5px;
}

.active {
	color: #0990aa;
}*/
.Switch {
    position: relative;
    float: right;
    font-weight: bold;
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background: #0990aa;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition   : background-color 0.3s ease-in-out;
    -o-transition     : background-color 0.3s ease-in-out;
    -ms-transition    : background-color 0.3s ease-in-out;
}

.Switch.list {
    background: #fd7117;
}

.Switch span {
    position: relative;
    display: inline-block;
    width: 25px;
    top: 6px;
}

.Switch span.on {
    left: 9px;
}

.Switch span.off {
    left: 6px;
}

.Switch .Toggle {
    position: absolute;
    right: 0;
    top: 2px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background: #fff;
    z-index: 999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
}

.Switch.list .Toggle { left: 1px; }
.Switch.card .Toggle { left: 33px; }

/* ---- Card View ---- */
.card-view {
    background: #fff;
    float: left;
    width: 292px;
    box-shadow: 0 4px 23px 0 rgba(141,131,131,0.75);
    margin: 5px;
}

.container {
    border: 1px solid #efefef;
    padding: 15px;
}

.bg {
    display: block;
    overflow: hidden;
    max-height: 170px;
    max-width: 292px;
    background: #000;
}

.bg img {
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition: opacity 0.35s, transform 0.35s;
}

.bg:hover img {
    opacity: 0.7;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.tag_name {
    font-family: 'Roboto Slab', serif;
    font-size  : 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* COMPANY INFO ------------------------ */
.c_logo {
    display: table-cell;
}

.c_logo img {
    display: inline-block;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.c_info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 10px;
    line-height: 18px;
}

.c_name {
    font-size: 20px;
    font-weight: 500;
    color: #3c3c3c;
}

.c_industry {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #7e8890;
}

.card-view #c_stars, #c_stars span { /* white star bottom */
    display: inline-block;
    background: url('https://s15.postimg.org/igu2opvh3/stars.png') 0 -12px repeat-x;
    width: 60px;
    height: 12px;
}

.card-view #c_stars span { /* orange stars overlay  - set width by JS code */
    background-position: 0 0;
    vertical-align: super;
}

.c_num {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    vertical-align: super;
}

.c_content {
    margin-top: -10px;
}

.c_content p {
    line-height: 21px;
}

.c_content .title {
    color: #484848;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.c_content .review {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: -10px;
}

/* USER INFO ------------------------ */
.user .user_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.user .user_avatar {
    display: table-cell;
    vertical-align: middle;
}

.user .user_info {
    display: table-cell;
    vertical-align: middle;
    color: rgba(0,0,0,0.35);
    font-size: 14px;
    line-height: 1.4;
    padding-left: 10px;
}

.user .user_name {
    font-weight: 500;
}

/* ---- List View ---- */
.list-view {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(204,204,204,0.2);
    -moz-box-shadow   : 0px 1px 1px 0px rgba(204,204,204,0.2);
    box-shadow        : 0px 1px 1px 0px rgba(204,204,204,0.2);
    float: left;
    margin: 5px;
}

.list-view:last-child {
    margin-bottom: 20px;
}

.list-view .container {
    border: 1px solid #efefef;
    padding: 15px;
}

.list-view .bg {
    display: none;
}

.list-view .bg img {
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition: opacity 0.35s, transform 0.35s;
}

.list-view .bg:hover img {
    opacity: 0.7;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.list-view .tag_name {
    font-family: 'Roboto Slab', serif;
    font-size  : 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* COMPANY INFO ------------------------ */
.list-view .c_logo {
    display: none;
}

.list-view .c_logo img {
    display: none;
}

.list-view .c_info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 0;
    line-height: 18px;
}

.list-view .c_name {
    font-size: 20px;
    font-weight: 500;
    color: #3c3c3c;
}

.list-view .c_industry {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #7e8890;
}

.list-view #c_stars, #c_stars span { /* white star bottom */
    display: inline-block;
    background: url('https://s15.postimg.org/igu2opvh3/stars.png') 0 -12px repeat-x;
    width: 60px;
    height: 12px;
}

.list-view #c_stars span { /* orange stars overlay  - set width by JS code */
    background-position: 0 0;
    vertical-align: super;
}

.list-view .c_num {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    vertical-align: super;
}

.list-view .c_content {
    margin-top: -15px;
}

.list-view .c_content p {
    line-height: 21px;
}

.list-view .c_content .title {
    color: #484848;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.list-view .c_content .review {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: -10px;
}

/* USER INFO ------------------------ */
.list-view .user .user_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.user .user_avatar {
    display: table-cell;
    vertical-align: middle;
}

.list-view .user .user_info {
    display: table-cell;
    vertical-align: middle;
    color: rgba(0,0,0,0.35);
    font-size: 14px;
    line-height: 1.4;
    padding-left: 10px;
}

.list-view .user .user_name {
    font-weight: 500;
}

@media screen and (max-width: 920px) and (min-width: 621px) {
    .full-width {
        max-width: 604px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 620px){
    .full-width {
        max-width: 302px;
        margin-left: auto;
        margin-right: auto;
    }
}
